*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

}

main{
  width:1020px;
  margin:auto;
}
nav {
    width:1020px;
    height: 60px;
    background-color: black;
    color:white;
    margin: auto;
    text-align: center;
}    

nav ul {
  list-style-type: none;
  display:inline;
}
